.section {
    margin: 2rem;

    h3 {
        @include border-top('base-10');
        padding-top: 2rem;
        font-size: 1.6rem;
        @include color('primary');
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 1rem;
        text-align: justify;
    }

    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
        color: #107d98;
    }

    /* Links */
    a {
        color: #63b3ed;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: #90cdf4;
        }
    }

    code {
        font-family: 'Consolas', 'Monaco', monospace;
        @include bg-color('base-3');
        padding: 0.2rem 0.4rem;
        border-radius: 3px;
        font-size: 0.9em;
        @include color('primary')
    }

    /* Iframe */
    iframe {
        width: 100%;
        height: 500px;
        border: none;
        border-radius: 5px;
        box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
    }

    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 2rem 0;
        font-size: 0.95rem;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
    }

    thead {
        @include bg-color('primary');
    }

    th {
        text-align: left;
        padding: 0.75rem 1rem;
        font-weight: 600;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    th:last-child {
        border-right: none;
    }

    td {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid #454843;
        border-right: 1px solid #454843;
    }

    td:last-child {
        border-right: none;
    }

    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.03);
    }



    tr:hover {
        background-color: rgba(70, 167, 88, 0.05);
    }

    /* Lists */
    ul {
        padding-left: 2rem;
        margin-bottom: 1.5rem;
    }

    ul li {
        margin-bottom: 0.8rem;
    }

    ul ul {
        margin-top: 0.8rem;
    }

    /* Buttons */
    .button-primary {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--button-color);
        padding: var(--button-padding);
        text-decoration: none;
        border-radius: 4px;
        font-weight: 600;
        transition: transform 0.2s;
    }

    .button-primary:hover {
        color: var(--button-color);
        transform: scale(1.03);
    }

    /* Images */
    img {
        max-width: 100%;
        border-radius: var(--code-border-radius);
        margin: 2rem auto;
        display: block;
        box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
    }
}
