.button {
    display: inline-flex;
    gap: 0.5rem;
    color: inherit;

    &.variant-outlined,
    &.variant-contained {
        width: min-content;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        white-space: nowrap;
    }

    // Contained
    &.variant-contained {
        @include background-color('primary');
        @include color('bg-1');
    }

    // Outlined
    &.variant-outlined {
    }

    // Text
    &.variant-text {
        padding: 0.5rem;
    }
}
