.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: inherit;

    svg {
        max-width: 2rem;
    }

    &.variant-outlined,
    &.variant-contained {
        width: min-content;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        white-space: nowrap;
    }

    // Contained
    &.variant-contained {
        @include bg-color('primary');
        @include color('base-1');
    }

    // Outlined
    &.variant-outlined {
        @include border('primary');
    }

    // Text
    &.variant-text {
        padding: 0.5rem;
    }

    &.loading {
        opacity: 0.7;
        cursor: wait;
        pointer-events: none;
    }
}
