/* reset */
.trigger {
    border-radius: 4px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

    &:hover {
        @include bg-color('primary');
    }

    svg {
        @include stroke('base-12');
    }
}

.trigger[data-highlighted],
.trigger[data-state='open'] {
    background-color: var(--violet-4);
}

.content,
.sub-content {
    min-width: 220px;
    @include bg-color('base-3');
    border-radius: 6px;
    padding: 5px;
    box-shadow:
        0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.item,
.sub-trigger {
    all: unset;
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 10px;
    position: relative;
    user-select: none;
}

.item.inset,
.sub-trigger.inset {
    padding-left: 20px;
}

.item[data-state='open'],
.sub-trigger[data-state='open'] {
    background-color: var(--violet-4);
    color: var(--violet-11);
}

.item[data-highlighted],
.sub-trigger[data-highlighted] {
    background-image: linear-gradient(135deg, var(--violet-9) 0%, var(--violet-10) 100%);
    color: var(--violet-1);
}

.item[data-disabled],
.sub-triggerdata-disabled {
    color: var(--mauve-8);
    pointer-events: none;
}

.itemIndicator {
    position: absolute;
    left: 0;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.separator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
}

.chevron-right {
    margin-left: auto;
    padding-left: 20px;
    color: var(--mauve-9);
}

[data-highlighted] > .chevron-right {
    color: white;
}

[data-disabled] > .chevron-right {
    color: var(--mauve-8);
}
