.header {
    @include fixed-type('top-full-width', 10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: var(--size-header-height);
    @include background-color('base-3');
    box-shadow: 0 2px 10px rgba(14, 18, 22, 0.15);
}
