.item {
    width: 200px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    @include flex(null, center, 1rem);
    
    img {
        width: 2rem;
        height: 2rem;
    }

    &__text {
        font-size: 0.75rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    &:hover {
        @include background-color('base-4');
    }
}
