h1 {
    padding: 0 1rem;
}

.folder {
    margin-top: 4rem;
    @include flex-col(null, null, 1rem);

    h2 {
        padding: 0 1rem;
    }

    &__content {
        padding: 2rem;
        @include background-color('base-400');
        @include flex(space-between, center, 2rem);
    }
}

.import {
    margin-top: 4rem;
    @include flex-col(null, null, 1rem);

    &__header {
        padding: 0 1rem;
        @include flex(null, center, 1rem);
    }

    &__content {
        padding: 2rem;
        @include background-color('base-400');

        ul {
            @include flex(center, null, 2rem);
            flex-wrap: wrap;
        }
    }
}

.imported {
    margin-top: 4rem;
    @include flex-col(null, null, 1rem);

    &__header {
        padding: 0 1rem;
        @include flex(null, center, 1rem);
    }

    &__content {
        padding: 2rem;
        @include background-color('base-400');

        ul {
            @include flex(center, null, 2rem);
            flex-wrap: wrap;
        }
    }
}
