.list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    max-height: 256px;
    overflow-y: auto;
}

.item {
    width: 180px;
    padding: 1rem;
    height: 64px;
    cursor: pointer;
    @include flex(null, center, 1rem);

    img {
        width: 2rem;
        height: 2rem;
    }

    &__text {
        font-size: 0.75rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    
    &:hover {
        @include bg-color('base-4');
    }
}
