/**
 * --------------------------------
 * Lib
 * --------------------------------
 */
@use './variables' as *;
@use './base' as *;
@use './typography' as *;

/**
 * --------------------------------
 * App Globals
 * --------------------------------
 */
@use './lib/color/color' as *;
@use './lib/color/background-color' as *;
@use './lib/display/flex' as *;

body {
    @include background-color('bg-1');
    @include color('text-2');
}

main {
    padding: calc(var(--size-header-height) + 2rem) 0 2rem;
    margin-inline: auto;
    width: var(--size-container-width);
    @include background-color('bg-2');
    min-height: 100vh;
    @include flex-col();
}
