/**
 * --------------------------------
 * Lib
 * --------------------------------
 */
@use './variables' as *;
@use './base' as *;
@use './typography' as *;

/**
 * --------------------------------
 * App Globals
 * --------------------------------
 */
@use './lib/color/color' as *;
@use './lib/color/background-color' as *;
@use './lib/display/flex' as *;

body {
    @include background-color('bg-1');
    @include color('text-2');
}

main {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    @include flex-col(null, center);
}
