.navigation {
    @include flex(null, null, 0.5rem);
    margin: 2rem;

    a {
        transition: color 0.2s ease-in-out;

        &:hover {
            @include color('primary');
        }
    }
}

.separator {
    margin: 2rem;
   @include bg-color('base-11');
    height: 1px;
}

.adjacent-lessons {
    margin: 2rem;
    @include flex(null, null, 1rem);

    &__link {
        @include flex(null, null, 0.25rem);
        transition: color 0.2s ease-in-out;

        svg {
            width: 1.25rem;
        }

        &:hover {
            @include color('primary');
        }
    }
}

.progress-icon {
    &__base {
        @include stroke('base-11');
    }

    &__info {
        transform: rotate(180deg);
        stroke: #ffca16;
    }

    &__check {
        stroke: #53b365;
    }
}
