.list {
    @include flex-col(null, null, 0.5rem);
    li {
        width: 100%;
        @include flex();
    }
}

.item {
    width: 100%;
    padding: 1.25rem 3.5rem 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;

    &__position {
        font-weight: bold;
    }

    
    &:hover {
        @include bg-color('base-6');
    }
}

.text-and-video-icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__video {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}