@use '../lib/media/breakpoints' as *;
@use '../lib/font/font-family' as *;
body {
    @include font-family('open-sans');
}

h1 {
    font-size: clamp(1.4rem, 3.5vw, 3.5rem);
}

h2 {
    font: clamp(1.3rem, 50%, 3rem) / 1.3rem;
}

code {
    @include font-family('jetbrains');
}

@include media(xs) {
    h1 {
        line-height: 1.2;
    }
}
